img.profile{
	height: 100px;
	width: 100px;
}
h1.Header{
	color: orange;
	text-align: center;
	font-size:50px;
}
a,Menu{
	font-size:30px;
	font-family: Palatino;
}
a:hover,Menu{
	font-size:30px;
	font-family: Impact;
	color:yellow;
}

a.box{
	background-color: pink;
	border: solid 2px #000000;
}
a:hover.box{
	background-color: green;
	border: solid 2px #000000;
}
p.biography{
	font-size: 20px;
	font-family: helvetica;
	color: #ADD8E6;
}

body{
	text-align: center;
	background-color:#DC143C;
}
h3{
	text-align: left;
}
p,h3.info{
	text-align:left;
	font-size: 20px;
	color: yellow;
	
}
strong{
	color: #7CFC00 !important;
	font-size:25px;
}
h1.title{
	color:#00FA9A;
	text-decoration: underline overline;
	font-size:50px;
	font-family:Lucida Console;
}
p.desc{
	color:#EE82EE;
	letter-spacing: 2px;
}
ul.skills{
	text-align:left;
	font-size: 20px;
	letter-spacing: 2px;
	color: #EE82EE;
	list-style-type: circle;
} 
em.job{
	text-align:left;
	font-size: 20px;
	color: yellow;
}
em.edu{
	text-align:left;
	font-size: 20px;
	color: yellow;
}
em.name{
	letter-spacing: normal;
}

a.email{
	font-size: 20px;
	font-family: Times New Roman;
}
h3.about{
	font-size:30px;
	font-family: Times New Roman;
	color:#7CFC00;
	text-align:center;

}
p.par{
	color:#000000;
}
ul.hobbies{
	text-align:center;
	font-size:25px;
	color:#7CFC00;
	display: inline-block;
}
img.rainbow{
	float:right;
	overflow:auto;
	height: 100px;
	width: 200px;
}
img.rainbow2{
	float:left;
	overflow:auto;
	height: 100px;
	width: 200px;
}
h3.about2{
	font-size:30px;
	font-family: Times New Roman;
	color:#7CFC00;
	text-align:center;

}
img.gif{
	position: relative;
}
img.gif2{
	position: relative;
	height:130px;
	width:130px;
}
p.con{
	text-align:center;
	font-size: 20px;
	color: yellow;
	display:inline-block;
	
}