p {
  font-family: Arial;
  color: white;
}

body {
	background-color: black;
	}

h1 {
  color: pink;
}

h2{
  font-family: cursive;
  color: white;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}
.publish-time {
  color: gray;
}

.cursive {
  font-family: cursive;
}

.capitalize {
  text-transform: capitalize;
}

.description h5 {
  color: teal;
}
h5{
  color: rebeccapurple !important;
}

h5,p{
  font-family: Georgia;
}

h3{
	color: white;
}

li{
	color: white;
}